<div class="pure-g">
    <div class="pure-u-1-1 pure-u-md-1-2">
        <h2>{{headerActionText}} News Entry</h2>
        <input [(ngModel)]="previewTitle" type="text" placeholder="Title">
        <quill-editor
                [(ngModel)]="previewHTML"
                [style]="{height: '150px'}">
        </quill-editor>
        <button id="submit-news-button" class="pure-button" (click)="newsSubmit()" [disabled]="submitDisabled">
            {{buttonText}}
        </button>
        <button id="cancel-button" class="pure-button" (click)="closeClick()">Cancel</button>
    </div>
    <div id="preview-container" class="pure-u-1-1 pure-u-md-1-2">
        <h2>Preview</h2>
        <div id="preview-content">
            <h2>{{previewTitle}}</h2>
            <h3>{{ currentDate | date:'EEEE, MMMM d, y' }}</h3>
            <div id="preview" [innerHTML]="previewHTML">
            </div>
        </div>
    </div>
</div>
