@import '../../globals';

#header-container {
  $header-height: 5.25rem;
  height: $header-height;
  background: $white;

  #logout-text {
    text-align: right;
    line-height: $header-height;
    color: $light-gray;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
