<button class="pure-button" (click)="closeApplicationClick()">Close Application</button>

<div id="app-data">
    <div class="app-section">
        <h3>Application Details</h3>
        <div class="pure-g row">
            <div class="pure-u-1-3 left-column">Trip Date</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.tripDate | date:'EEEE, MMMM d, y'}}</div>
        </div>

        <div class="pure-g row row-odd">
            <div class="pure-u-1-3 left-column">Submitted</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.submitted | date:'EEEE, MMMM d, y'}}</div>
        </div>
    </div>

    <div class="app-section">
        <h3>Personal Information</h3>
        <div class="pure-g row">
            <div class="pure-u-1-3 left-column">First</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.first}}</div>
        </div>

        <div class="pure-g row row-odd">
            <div class="pure-u-1-3 left-column">Middle</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.middle}}</div>
        </div>

        <div class="pure-g row">
            <div class="pure-u-1-3 left-column">Last</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.last}}</div>
        </div>

        <div class="pure-g row row-odd">
            <div class="pure-u-1-3 left-column">Address Line 1</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.addressLine1}}</div>
        </div>

        <div class="pure-g row">
            <div class="pure-u-1-3 left-column">Address Line 2</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.addressLine2}}</div>
        </div>

        <div class="pure-g row row-odd">
            <div class="pure-u-1-3 left-column">City</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.city}}</div>
        </div>

        <div class="pure-g row">
            <div class="pure-u-1-3 left-column">State</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.state}}</div>
        </div>

        <div class="pure-g row row-odd">
            <div class="pure-u-1-3 left-column">Zip</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.zip}}</div>
        </div>

        <div class="pure-g row">
            <div class="pure-u-1-3 left-column">Home Phone</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.homePhone}}</div>
        </div>

        <div class="pure-g row row-odd">
            <div class="pure-u-1-3 left-column">Cell Phone</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.cellPhone}}</div>
        </div>

        <div class="pure-g row">
            <div class="pure-u-1-3 left-column">Email</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.email}}</div>
        </div>

        <div class="pure-g row row-odd">
            <div class="pure-u-1-3 left-column">Birth Date</div>
            <div class="pure-u-2-3 right-column">{{birthDate | date:'EEEE, MMMM d, y'}}</div>
        </div>

        <div class="pure-g row">
            <div class="pure-u-1-3 left-column">Nationality</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.nationality}}</div>
        </div>

        <div class="pure-g row row-odd">
            <div class="pure-u-1-3 left-column">Birth Place</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.birthPlace}}</div>
        </div>

        <div class="pure-g row">
            <div class="pure-u-1-3 left-column">Maiden Name</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.maidenName}}</div>
        </div>

        <div class="pure-g row row-odd">
            <div class="pure-u-1-3 left-column">Marital Status</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.maritalStatus}}</div>
        </div>

        <div class="pure-g row">
            <div class="pure-u-1-3 left-column">Gender</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.gender}}</div>
        </div>

        <div class="pure-g row">
            <div class="pure-u-1-3 left-column">Shirt Size</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.shirtSize}}</div>
        </div>

        <div class="pure-g row row-odd">
            <div class="pure-u-1-3 left-column">Passport Number</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.passportNumber}}</div>
        </div>

        <div class="pure-g row">
            <div class="pure-u-1-3 left-column">Passport Issue Date</div>
            <div class="pure-u-2-3 right-column">{{passportIssueDate | date:'EEEE, MMMM d, y'}}</div>
        </div>

        <div class="pure-g row row-odd">
            <div class="pure-u-1-3 left-column">Passport Expiration Date</div>
            <div class="pure-u-2-3 right-column">{{passportExpirationDate | date:'EEEE, MMMM d, y'}}</div>
        </div>
    </div>

    <div class="app-section" id="questions">
        <h3>Questions</h3>
        <div class="pure-g row">
            <div class="pure-u-1-3 left-column">Why do you want to go on this trip?</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.question1}}</div>
        </div>

        <div class="pure-g row row-odd">
            <div class="pure-u-1-3 left-column">What gifts or strengths do you have that would add to the
                mission experience?
            </div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.question2}}</div>
        </div>

        <div class="pure-g row">
            <div class="pure-u-1-3 left-column">Please list three expectations for your mission
                experience.
            </div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.question3}}</div>
        </div>

        <div class="pure-g row row-odd">
            <div class="pure-u-1-3 left-column">Do you have any concerns or fears about this experience?
                Please explain.
            </div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.question5}}</div>
        </div>

        <div class="pure-g row">
            <div class="pure-u-1-3 left-column">Do you have any health issues that the team should know
                about?
            </div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.question6}}</div>
        </div>

    </div>

    <div class="app-section">
        <h3>References</h3>
        <div class="pure-g row">
            <div class="pure-u-1-3 left-column">Person 1 Name</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.person1Name}}</div>
        </div>

        <div class="pure-g row row-odd">
            <div class="pure-u-1-3 left-column">Person 1 Relationship</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.person1Relationship}}</div>
        </div>

        <div class="pure-g row">
            <div class="pure-u-1-3 left-column">Person 1 Phone</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.person1Phone}}</div>
        </div>

        <div class="pure-g row row-odd">
            <div class="pure-u-1-3 left-column">Person 1 Email</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.person1Email}}</div>
        </div>
    </div>

    <div class="app-section" id="second-reference">
        <div class="pure-g row">
            <div class="pure-u-1-3 left-column">Person 2 Name</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.person2Name}}</div>
        </div>

        <div class="pure-g row row-odd">
            <div class="pure-u-1-3 left-column">Person 2 Relationship</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.person2Relationship}}</div>
        </div>

        <div class="pure-g row">
            <div class="pure-u-1-3 left-column">Person 2 Phone</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.person2Phone}}</div>
        </div>

        <div class="pure-g row row-odd">
            <div class="pure-u-1-3 left-column">Person 2 Email</div>
            <div class="pure-u-2-3 right-column">{{applicationToEdit.person2Email}}</div>
        </div>
    </div>
</div>

<button class="pure-button" (click)="closeApplicationClick()">Close Application</button>
