button {
  display: block;
  margin: 0 auto;

  &:last-of-type {
    margin-bottom: 2em;
  }
}

#app-data {
  margin-bottom: 2em;

  .app-section {
    $row-height: 50px;

    &#second-reference {
      margin-top: 20px;
    }

    &#questions {
      .row {
        line-height: 40px;
      }
    }

    .row {
      min-height: $row-height;
      line-height: $row-height;
      border: 1px solid #cbcbcb;
      border-top: none;

      &:first-of-type {
        border-top: 1px solid #cbcbcb;
      }
    }

    .row-odd {
      background: #e0e0e0;
    }

    .left-column {
      padding-left: 15px;
      border-right: 1px solid #cbcbcb;
      font-weight: bold;
    }

    .right-column {
      padding-left: 15px;
    }
  }
}
