<div class="container">
    <div class="mini-container">
        <h2>Password Recovery</h2>

        <form *ngIf="!passwordRecoverySuccess" (ngSubmit)="onSubmit(passwordRecoveryForm)"
              class="pure-form pure-form-stacked" #passwordRecoveryForm="ngForm">
            <fieldset>
                <span *ngIf="passwordRecoveryUnsuccessful" class="pure-form-message" id="bad-sign-up">There was an error sending your email.  Please try again.</span>
                <div class="input-container">
                    <input ngModel name="email" class="pure-input-1" type="email" placeholder="Email" #email="ngModel"
                           required email>
                    <span *ngIf="!email.valid && email.value.length === 0 && passwordRecoverySubmittedAndNotProcessed"
                          class="pure-form-message">This is a required field.</span>
                    <span *ngIf="!email.valid && email.value.length > 0 && passwordRecoverySubmittedAndNotProcessed"
                          class="pure-form-message">Please enter a valid email address</span>
                </div>
                <app-home-button [buttonText]="'Submit'"></app-home-button>
            </fieldset>
        </form>

        <ng-container *ngIf="passwordRecoverySuccess">
            <p>Password recovery instructions have been sent to the email provided.</p>
            <p><a routerLink="/login">Back to log in.</a></p>
        </ng-container>

    </div>
</div>
