<form [formGroup]="loginForm">
  <ng-container *ngIf="!loginInProcess; else loading">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input
        [formControlName]="'username'"
        matInput
        placeholder="username@example.com"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        [formControlName]="'password'"
        matInput
        placeholder="Password"
        type="password"
      />
    </mat-form-field>

    <button (click)="login()" type="submit">Login!</button>
  </ng-container>

  <ng-template #loading>
    <p>loading</p>
  </ng-template>
</form>

<p *ngIf="showFormErrors" class="error">
  Please enter a valid username and password
</p>
<p *ngIf="showLoginError" class="error">Invalid username or password</p>
