<div *ngFor="let currentGroupedApplications of applicationsGroupedByTripDate"
     [ngClass]="{'hide': showOnToggle(currentGroupedApplications.tripDate) && !showOldValue}">
    <h3>{{currentGroupedApplications.tripDate | date:'EEEE, MMMM d, y'}}</h3>
    <table class="pure-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Submitted</th>
        </tr>
        </thead>

        <tbody>
        <tr class="application-row"
            *ngFor="let currentApplication of currentGroupedApplications.applications; let i = index"
            [ngClass]="{'pure-table-odd': i % 2 == 1}">
            <td>
                <div class="applicant-name" (click)="viewApplication(currentApplication)"><strong>{{currentApplication.first}}
                    {{currentApplication.middle}} {{currentApplication.last}}</strong>
                </div>
                <div class="applicant-actions">
                    <span class="view-action" (click)="viewApplication(currentApplication)">View</span> | <span
                        class="trash-action" (click)="deleteApplication(currentApplication)">Trash</span>
                </div>
            </td>
            <td>{{ currentApplication.submitted | date:'EEEE, MMMM d, y' }}</td>
        </tr>
        </tbody>
    </table>
</div>

<p id="show-old" (click)="showOldToggle()">{{firstToggleWord}} Old Applications</p>
