<h2>Keep the Wheel Turning</h2>
<div class="pure-g">
    <div class="pure-u-1-2">
        <textarea [(ngModel)]="contentKTWT"></textarea>
        <button (click)="submitEvent()" class="pure-button">Submit</button>
    </div>
    <div class="pure-u-1-2">
        <h3>Preview</h3>
        <p>{{ contentKTWT }}</p>
    </div>
</div>

<h2>Give to the Max Day</h2>
<div class="pure-g">
    <div class="pure-u-1-2">
        <textarea [(ngModel)]="contentGTTMD"></textarea>
        <button (click)="submitEvent()" class="pure-button">Submit</button>
    </div>
    <div class="pure-u-1-2">
        <h3>Preview</h3>
        <p>{{ contentGTTMD }}</p>
    </div>
</div>
