input {
  width: 100%;
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  margin-bottom: 2em;
}

#preview-container {
  @media screen and (min-width: 48em) {
    padding-left: 25px;
  }

  #preview-content {
    h2 {
      color: #00514d;
      min-height: 33px;
      margin: 0;
    }

    h3 {
      color: #cccccc;
      min-height: 25px;
      margin: 0;
    }

    ::ng-deep a {
      color: #00514d;
      text-decoration: underline;
    }
  }
}

button {
  margin-top: 2em;
}
