<div class="pure-g">
    <div class="pure-u-1-2">
        <h2>
            Modify Trips
        </h2>

        <table class="pure-table">
            <thead>
            <tr>
                <th>Trip</th>
                <th>Leader</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody *ngFor="let currentApplicationDate of applicationDates; let i = index">
            <tr [ngClass]="{'pure-table-odd': i % 2 === 0}">
                <td>{{currentApplicationDate.date}}</td>
                <td>{{currentApplicationDate.trip_leader}}</td>
                <td>{{currentApplicationDate.status}}</td>
                <td>Manage</td>
            </tr>

            </tbody>
        </table>
    </div>
    <div class="pure-u-1-2">
        <h2>Add a Trip</h2>
    </div>
</div>
