@import "../../../globals";

table {
  width: 100%;
}

form {
  margin-top: 0;

  //input {
  //  height: 55px !important;
  //}
}

.modal {
  display: none;
}

.show-modal {
  $width: 200px;
  display: block;
  position: absolute;
  top: 100px;
  left: 50%;
  width: $width;
  margin-left: -($width/2);
}
