@import "../../../globals";

form {
  $input-height: 55px;
  $vertical-spacing: 30px;
  margin-top: $vertical-spacing;
  color: $light-gray-theme-color;

  .input-container {
    height: $input-height + $vertical-spacing;
  }

  input {
    height: $input-height;
    background: none;
    border: 1px solid $light-gray-theme-color;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: $vertical-spacing;
    color: $white-theme-color;

    &::placeholder {
      color: $light-gray-theme-color;
    }

    &:focus {
      border-color: $light-green-theme-color;

      &:invalid {
        color: $white-theme-color;
      }
    }

    &[type=checkbox] {
      $width-and-height: 25px;
      height: $width-and-height;
      width: $width-and-height;
    }

  }

  .pure-form-message {
    margin-top: -$vertical-spacing;
    color: $error-theme-color;
    padding: 0;
    height: $vertical-spacing;

    &#invalid-credentials {
      text-align: center;
    }
  }

  #forgot-password {
    text-align: center;
  }
}
