@import "../../../../globals";

$row-height: 200px;
$row-padding: 15px;

.news-post-row {
  border: 1px solid $separator-color;
  border-top: none;

  &.odd-row {
    background: #f2f2f2;
  }

  &.first-row {
    border-top: 1px solid $separator-color;
  }

  .news-post-column {
    height: $row-height;
    padding: $row-padding 0;
    border-right: 1px solid $separator-color;

    textarea {
      height: $row-height;
      width: 95%;
      margin: 0 auto;
      padding: 0;
      display: block;
      resize: none;
    }

    a {
      cursor: pointer;
    }

    p {
      line-height: $row-height - $row-padding;
      text-align: center;
      padding: 0;
    }
  }
}
