<div class="pure-g row">
    <div class="pure-u-1-2">Submitted</div>
    <div class="pure-u-1-2">{{currentApplication.submitted}}</div>
</div>

<div class="pure-g row row-odd">
    <div class="pure-u-1-2">Trip Date</div>
    <div class="pure-u-1-2">{{currentApplication.tripDate}}</div>
</div>

<div class="pure-g row">
    <div class="pure-u-1-2">First</div>
    <div class="pure-u-1-2">{{currentApplication.first}}</div>
</div>

<div class="pure-g row row-odd">
    <div class="pure-u-1-2">Middle</div>
    <div class="pure-u-1-2">{{currentApplication.middle}}</div>
</div>

<div class="pure-g row">
    <div class="pure-u-1-2">Last</div>
    <div class="pure-u-1-2">{{currentApplication.last}}</div>
</div>

<div class="pure-g row row-odd">
    <div class="pure-u-1-2">AddressLine1</div>
    <div class="pure-u-1-2">{{currentApplication.addressLine1}}</div>
</div>

<div class="pure-g row">
    <div class="pure-u-1-2">AddressLine2</div>
    <div class="pure-u-1-2">{{currentApplication.addressLine2}}</div>
</div>

<div class="pure-g row row-odd">
    <div class="pure-u-1-2">City</div>
    <div class="pure-u-1-2">{{currentApplication.city}}</div>
</div>

<div class="pure-g row">
    <div class="pure-u-1-2">State</div>
    <div class="pure-u-1-2">{{currentApplication.state}}</div>
</div>

<div class="pure-g row row-odd">
    <div class="pure-u-1-2">Zip</div>
    <div class="pure-u-1-2">{{currentApplication.zip}}</div>
</div>

<div class="pure-g row">
    <div class="pure-u-1-2">HomePhone</div>
    <div class="pure-u-1-2">{{currentApplication.homePhone}}</div>
</div>

<div class="pure-g row row-odd">
    <div class="pure-u-1-2">CellPhone</div>
    <div class="pure-u-1-2">{{currentApplication.cellPhone}}</div>
</div>

<div class="pure-g row">
    <div class="pure-u-1-2">Email</div>
    <div class="pure-u-1-2">{{currentApplication.email}}</div>
</div>

<div class="pure-g row row-odd">
    <div class="pure-u-1-2">Month</div>
    <div class="pure-u-1-2">{{currentApplication.month}}</div>
</div>

<div class="pure-g row">
    <div class="pure-u-1-2">Day</div>
    <div class="pure-u-1-2">{{currentApplication.day}}</div>
</div>

<div class="pure-g row row-odd">
    <div class="pure-u-1-2">Year</div>
    <div class="pure-u-1-2">{{currentApplication.year}}</div>
</div>

<div class="pure-g row">
    <div class="pure-u-1-2">Nationality</div>
    <div class="pure-u-1-2">{{currentApplication.nationality}}</div>
</div>

<div class="pure-g row row-odd">
    <div class="pure-u-1-2">BirthPlace</div>
    <div class="pure-u-1-2">{{currentApplication.birthPlace}}</div>
</div>

<div class="pure-g row">
    <div class="pure-u-1-2">MaidenName</div>
    <div class="pure-u-1-2">{{currentApplication.maidenName}}</div>
</div>

<div class="pure-g row row-odd">
    <div class="pure-u-1-2">MaritalStatus</div>
    <div class="pure-u-1-2">{{currentApplication.maritalStatus}}</div>
</div>

<div class="pure-g row">
    <div class="pure-u-1-2">Gender</div>
    <div class="pure-u-1-2">{{currentApplication.gender}}</div>
</div>

<div class="pure-g row row-odd">
    <div class="pure-u-1-2">PassportNumber</div>
    <div class="pure-u-1-2">{{currentApplication.passportNumber}}</div>
</div>

<div class="pure-g row">
    <div class="pure-u-1-2">PassportIssueDateMonth</div>
    <div class="pure-u-1-2">{{currentApplication.passportIssueDateMonth}}</div>
</div>

<div class="pure-g row row-odd">
    <div class="pure-u-1-2">PassportIssueDateDay</div>
    <div class="pure-u-1-2">{{currentApplication.passportIssueDateDay}}</div>
</div>

<div class="pure-g row">
    <div class="pure-u-1-2">PassportIssueDateYear</div>
    <div class="pure-u-1-2">{{currentApplication.passportIssueDateYear}}</div>
</div>

<div class="pure-g row row-odd">
    <div class="pure-u-1-2">PassportExpirationDateMonth</div>
    <div class="pure-u-1-2">{{currentApplication.passportExpirationDateMonth}}</div>
</div>

<div class="pure-g row">
    <div class="pure-u-1-2">PassportExpirationDateDay</div>
    <div class="pure-u-1-2">{{currentApplication.passportExpirationDateDay}}</div>
</div>

<div class="pure-g row row-odd">
    <div class="pure-u-1-2">PassportExpirationDateYear</div>
    <div class="pure-u-1-2">{{currentApplication.passportExpirationDateYear}}</div>
</div>

<div class="pure-g row">
    <div class="pure-u-1-2">Question1</div>
    <div class="pure-u-1-2">{{currentApplication.question1}}</div>
</div>

<div class="pure-g row row-odd">
    <div class="pure-u-1-2">Question2</div>
    <div class="pure-u-1-2">{{currentApplication.question2}}</div>
</div>

<div class="pure-g row">
    <div class="pure-u-1-2">Question3</div>
    <div class="pure-u-1-2">{{currentApplication.question3}}</div>
</div>

<div class="pure-g row row-odd">
    <div class="pure-u-1-2">Question4</div>
    <div class="pure-u-1-2">{{currentApplication.question4}}</div>
</div>

<div class="pure-g row">
    <div class="pure-u-1-2">Question5</div>
    <div class="pure-u-1-2">{{currentApplication.question5}}</div>
</div>

<div class="pure-g row row-odd">
    <div class="pure-u-1-2">Question6</div>
    <div class="pure-u-1-2">{{currentApplication.question6}}</div>
</div>

<div class="pure-g row">
    <div class="pure-u-1-2">Person1Name</div>
    <div class="pure-u-1-2">{{currentApplication.person1Name}}</div>
</div>

<div class="pure-g row row-odd">
    <div class="pure-u-1-2">Person1Relationship</div>
    <div class="pure-u-1-2">{{currentApplication.person1Relationship}}</div>
</div>

<div class="pure-g row">
    <div class="pure-u-1-2">Person1Phone</div>
    <div class="pure-u-1-2">{{currentApplication.person1Phone}}</div>
</div>

<div class="pure-g row row-odd">
    <div class="pure-u-1-2">Person1Email</div>
    <div class="pure-u-1-2">{{currentApplication.person1Email}}</div>
</div>

<div class="pure-g row">
    <div class="pure-u-1-2">Person2Name</div>
    <div class="pure-u-1-2">{{currentApplication.person2Name}}</div>
</div>

<div class="pure-g row row-odd">
    <div class="pure-u-1-2">Person2Relationship</div>
    <div class="pure-u-1-2">{{currentApplication.person2Relationship}}</div>
</div>

<div class="pure-g row">
    <div class="pure-u-1-2">Person2Phone</div>
    <div class="pure-u-1-2">{{currentApplication.person2Phone}}</div>
</div>

<div class="pure-g row row-odd">
    <div class="pure-u-1-2">Person2Email</div>
    <div class="pure-u-1-2">{{currentApplication.person2Email}}</div>
</div>
