<section>
  <div id="apply">
    <div class="container">
      <div class="padding-hold">
        <h2>Application Details</h2>
        <table class="pure-table">
          <thead>
          <tr>
            <th>Trip Date</th>
            <th>Non-refundable Deposit</th>
            <th>Additional Payment</th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>Monday, February 19th, 2018</td>
            <td>$125.00</td>
            <td>$725.00</td>
          </tr>
          </tbody>
        </table>
        <p>
          Thank you for your interest in missions with Reiser Relief, Inc. Once your application is approved,
          a
          team
          leader will be contacting you requesting a non-refundable $125 deposit. A final payment of $725 is
          due
          30
          days prior to departure. The total for room and board is $850.
        </p>

        <h2>Expectations</h2>
        <p>
          You will make it a high priority to attend pre-trip meetings. You are willing to be uncomfortable,
          physically and emotionally. You will build relationships, not things. You will connect, learn,
          transform
          and
          respond to what God puts in front of you. You want to serve others and are open to God using this
          trip
          to
          shape you. You agree that this trip is not about you or your purpose but God's purpose for your
          life.
          You
          are willing to hold babies, play with children, visit with elderly, go deep into the poorest reaches
          of
          Haiti and put others first. You will be hot and dirty at the end of each day. You understand that
          what
          you
          see and what you experience can change your life. You will have the opportunity to attend church,
          pray
          and
          share your faith. You agree to respect your team members and extend the Grace God has extended us
          when
          there
          are differences between us.
        </p>

        <form class="pure-form pure-form-stacked" action="{{ RootURL }}experience/apply/apply-submit"
              method="post">
          <h2>Personal Information</h2>
          <fieldset>
            <legend>Name</legend>
            <div class="pure-g input-set">
              <div class="pure-u-1-1 pure-u-md-1-3">
                <input id="first" class="pure-u-23-24" name="first" type="text">
                <label for="first">First Name</label>
              </div>
              <div class="pure-u-1-1 pure-u-md-1-3">
                <input id="middle" class="pure-u-23-24" name="middle" type="text">
                <label for="middle">Middle Name</label>
              </div>
              <div class="pure-u-1-1 pure-u-md-1-3">
                <input id="last" class="pure-u-24-24" name="last" type="text">
                <label for="last">Last Name</label>
              </div>
            </div>

          </fieldset>

          <fieldset>
            <legend>Address</legend>

            <div class="pure-g input-set">
              <div class="pure-u-1-1">
                <input id="address-line-1" class="pure-u-24-24" name="address-line-1" type="text">
                <label for="address-line-1">Address Line 1</label>
              </div>
              <div class="pure-u-1-1">
                <input id="address-line-2" class="pure-u-24-24" name="address-line-2" type="text">
                <label for="address-line-2">Address Line 2</label>
              </div>
              <div class="pure-u-1-1 pure-u-md-13-24">
                <input id="city" class="pure-u-23-24" name="city" type="text">
                <label for="city">City</label>
              </div>
              <div class="pure-u-1-1 pure-u-md-7-24">
                <select id="state" class="pure-u-23-24" name="state">
                  <option value="AL">Alabama</option>
                  <option value="AK">Alaska</option>
                  <option value="AZ">Arizona</option>
                  <option value="AR">Arkansas</option>
                  <option value="CA">California</option>
                  <option value="CO">Colorado</option>
                  <option value="CT">Connecticut</option>
                  <option value="DE">Delaware</option>
                  <option value="DC">District of Columbia</option>
                  <option value="FL">Florida</option>
                  <option value="GA">Georgia</option>
                  <option value="HI">Hawaii</option>
                  <option value="ID">Idaho</option>
                  <option value="IL">Illinois</option>
                  <option value="IN">Indiana</option>
                  <option value="IA">Iowa</option>
                  <option value="KS">Kansas</option>
                  <option value="KY">Kentucky</option>
                  <option value="LA">Louisiana</option>
                  <option value="ME">Maine</option>
                  <option value="MD">Maryland</option>
                  <option value="MA">Massachusetts</option>
                  <option value="MI">Michigan</option>
                  <option value="MN" selected>Minnesota</option>
                  <option value="MS">Mississippi</option>
                  <option value="MO">Missouri</option>
                  <option value="MT">Montana</option>
                  <option value="NE">Nebraska</option>
                  <option value="NV">Nevada</option>
                  <option value="NH">New Hampshire</option>
                  <option value="NJ">New Jersey</option>
                  <option value="NM">New Mexico</option>
                  <option value="NY">New York</option>
                  <option value="NC">North Carolina</option>
                  <option value="ND">North Dakota</option>
                  <option value="OH">Ohio</option>
                  <option value="OK">Oklahoma</option>
                  <option value="OR">Oregon</option>
                  <option value="PA">Pennsylvania</option>
                  <option value="RI">Rhode Island</option>
                  <option value="SC">South Carolina</option>
                  <option value="SD">South Dakota</option>
                  <option value="TN">Tennessee</option>
                  <option value="TX">Texas</option>
                  <option value="UT">Utah</option>
                  <option value="VT">Vermont</option>
                  <option value="VA">Virginia</option>
                  <option value="WA">Washington</option>
                  <option value="WV">West Virginia</option>
                  <option value="WI">Wisconsin</option>
                  <option value="WY">Wyoming</option>
                </select>
                <label for="state">State</label>
              </div>
              <div class="pure-u-1-1 pure-u-md-4-24">
                <input id="zip" class="pure-u-24-24" name="zip" type="text">
                <label for="zip">Zip Code</label>
              </div>
            </div>

          </fieldset>

          <fieldset>
            <legend>Contact</legend>

            <div class="pure-g input-set">
              <div class="pure-u-1-1">
                <input id="home-phone" class="pure-u-24-24" name="home-phone" type="text">
                <label for="home-phone">Home Phone</label>
              </div>
              <div class="pure-u-1-1">
                <input id="cell-phone" class="pure-u-24-24" name="cell-phone" type="text">
                <label for="cell-phone">Cell Phone</label>
              </div>
              <div class="pure-u-1-1">
                <input id="email" class="pure-u-24-24" name="email" type="text">
                <label for="email">Email</label>
              </div>
            </div>

          </fieldset>

          <fieldset>
            <legend>Date of Birth</legend>

            <div class="pure-g input-set">
              <div class="pure-u-1-1 pure-u-md-4-24">
                <select id="month" name="month">
                  <option value=""></option>
                  <option value="Jan">Jan</option>
                  <option value="Feb">Feb</option>
                  <option value="Mar">Mar</option>
                  <option value="Apr">Apr</option>
                  <option value="May">May</option>
                  <option value="Jun">Jun</option>
                  <option value="Jul">Jul</option>
                  <option value="Aug">Aug</option>
                  <option value="Sep">Sep</option>
                  <option value="Oct">Oct</option>
                  <option value="Nov">Nov</option>
                  <option value="Dec">Dec</option>
                </select>
                <label for="month">Month</label>
              </div>
              <div class="pure-u-1-1 pure-u-md-4-24">
                <select id="day" name="day">
                  {{ include('common/days.twig') }}
                </select>
                <label for="day">Day</label>
              </div>
              <div class="pure-u-1-1 pure-u-md-4-24">
                <select id="year" name="year">
                  {{ include('common/years.twig') }}
                  <ul>
                    <ng-template ngFor let-item [ngForOf]="createRange(5)" let-currentElementIndex="(index + 1)"
                                 [ngForTrackBy]="trackByFn">
                      {{currentElementIndex}} Something
                    </ng-template>
                  </ul>
                </select>
                <label for="year">Year</label>
              </div>
            </div>

          </fieldset>

          <fieldset>
            <legend>Nationality</legend>

            <div class="pure-g input-set">
              <div class="pure-u-1-1">
                <input id="nationality" class="pure-u-24-24" name="nationality" type="text">
              </div>
            </div>

          </fieldset>

          <fieldset>
            <legend>Birth Place</legend>

            <div class="pure-g input-set">
              <div class="pure-u-1-1">
                <input id="birth-place" class="pure-u-24-24" name="birth-place" type="text">
              </div>
            </div>

          </fieldset>

          <fieldset>
            <legend>Maiden, Alias or Former Name</legend>

            <div class="pure-g input-set">
              <div class="pure-u-1-1">
                <input id="maiden-name" class="pure-u-24-24" name="maiden-name" type="text">
              </div>
            </div>

          </fieldset>

          <fieldset>
            <legend>Marital Status</legend>

            <div class="pure-g input-set">
              <div class="pure-u-1-1 pure-u-md-4-24">
                <select id="marital-status" name="marital-status">
                  <option value="Single">Single</option>
                  <option value="Engaged">Engaged</option>
                  <option value="Married">Married</option>
                  <option value="Separated">Separated</option>
                  <option value="Divoriced">Divoriced</option>
                </select>
              </div>
            </div>

          </fieldset>

          <fieldset>
            <legend>Gender</legend>

            <div class="pure-g input-set">
              <div class="pure-u-1-1 pure-u-md-4-24">
                <select id="gender" name="gender">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
            </div>

          </fieldset>

          <fieldset>
            <legend>Passport Number</legend>

            <div class="pure-g input-set">
              <div class="pure-u-1-1">
                <input id="passport-number" class="pure-u-24-24" name="passport-number" type="text">
              </div>
            </div>

          </fieldset>

          <fieldset>
            <legend>Passport Issue Date</legend>

            <div class="pure-g input-set">
              <div class="pure-u-1-1 pure-u-md-4-24">
                <select id="passport-issue-date-month" name="passport-issue-date-month">
                  <option value=""></option>
                  <option value="Jan">Jan</option>
                  <option value="Feb">Feb</option>
                  <option value="Mar">Mar</option>
                  <option value="Apr">Apr</option>
                  <option value="May">May</option>
                  <option value="Jun">Jun</option>
                  <option value="Jul">Jul</option>
                  <option value="Aug">Aug</option>
                  <option value="Sep">Sep</option>
                  <option value="Oct">Oct</option>
                  <option value="Nov">Nov</option>
                  <option value="Dec">Dec</option>
                </select>
                <label for="passport-issue-date-month">Month</label>
              </div>
              <div class="pure-u-1-1 pure-u-md-4-24">
                <select id="passport-issue-date-day" name="passport-issue-date-day">
                  {{ include('common/days.twig') }}
                </select>
                <label for="passport-issue-date-day">Day</label>
              </div>
              <div class="pure-u-1-1 pure-u-md-4-24">
                <select id="passport-issue-date-year" name="passport-issue-date-year">
                  {{ include('common/years.twig') }}
                </select>
                <label for="passport-issue-date-year">Year</label>
              </div>
            </div>

          </fieldset>

          <fieldset>
            <legend>Passport Expiration Date</legend>

            <div class="pure-g input-set">
              <div class="pure-u-1-1 pure-u-md-4-24">
                <select id="passport-expiration-date-month" name="passport-expiration-date-month">
                  <option value=""></option>
                  <option value="Jan">Jan</option>
                  <option value="Feb">Feb</option>
                  <option value="Mar">Mar</option>
                  <option value="Apr">Apr</option>
                  <option value="May">May</option>
                  <option value="Jun">Jun</option>
                  <option value="Jul">Jul</option>
                  <option value="Aug">Aug</option>
                  <option value="Sep">Sep</option>
                  <option value="Oct">Oct</option>
                  <option value="Nov">Nov</option>
                  <option value="Dec">Dec</option>
                </select>
                <label for="passport-expiration-date-month">Month</label>
              </div>
              <div class="pure-u-1-1 pure-u-md-4-24">
                <select id="passport-expiration-date-day" name="passport-expiration-date-day">
                  {{ include('common/days.twig') }}
                </select>
                <label for="passport-expiration-date-day">Day</label>
              </div>
              <div class="pure-u-1-1 pure-u-md-4-24">
                <select id="passport-expiration-date-year" name="passport-expiration-date-year">
                  {{ include('common/years.twig') }}
                </select>
                <label for="passport-expiration-date-year">Year</label>
              </div>
            </div>

          </fieldset>

          <h2>Questions</h2>
          <fieldset>
            <legend>Why do you want to go on this trip?</legend>

            <div class="pure-g input-set">
              <div class="pure-u-24-24">
                <textarea name="question-1"></textarea>
              </div>
            </div>

          </fieldset>

          <fieldset>
            <legend>What gifts or strengths do you have that would add to the mission experience?</legend>

            <div class="pure-g input-set">
              <div class="pure-u-24-24">
                <textarea name="question-2"></textarea>
              </div>
            </div>

          </fieldset>

          <fieldset>
            <legend>Please list three expectations for your mission experience.</legend>

            <div class="pure-g input-set">
              <div class="pure-u-24-24">
                <textarea name="question-3"></textarea>
              </div>
            </div>

          </fieldset>

          <fieldset>
            <legend>Is your family supportive of you seeking a mission experience? Please explain. Are you
              applying
              with a family member?
            </legend>

            <div class="pure-g input-set">
              <div class="pure-u-24-24">
                <textarea name="question-4"></textarea>
              </div>
            </div>

          </fieldset>

          <fieldset>
            <legend>Do you have any concerns or fears about this experience? Please explain.</legend>

            <div class="pure-g input-set">
              <div class="pure-u-24-24">
                <textarea name="question-5"></textarea>
              </div>
            </div>

          </fieldset>

          <fieldset>
            <legend>Do you have any health issues that the team should know about?</legend>

            <div class="pure-g input-set">
              <div class="pure-u-24-24">
                <textarea name="question-6"></textarea>
              </div>
            </div>

          </fieldset>

          <h2>References</h2>
          <fieldset>
            <legend>Person 1</legend>

            <div class="pure-g input-set">
              <div class="pure-u-1-1">
                <input class="pure-u-24-24" name="person-1-name" type="text">
                <label for="person-1-name">Name</label>
              </div>
              <div class="pure-u-1-1">
                <input class="pure-u-24-24" name="person-1-relationship" type="text">
                <label for="person-1-relationship">Relationship</label>
              </div>
              <div class="pure-u-1-1">
                <input class="pure-u-24-24" name="person-1-phone" type="text">
                <label for="person-1-phone">Phone Number</label>
              </div>
              <div class="pure-u-1-1">
                <input class="pure-u-24-24" name="person-1-email" type="text">
                <label for="person-1-email">Email</label>
              </div>
            </div>

          </fieldset>

          <fieldset>
            <legend>Person 2</legend>

            <div class="pure-g input-set">
              <div class="pure-u-1-1">
                <input class="pure-u-24-24" name="person-2-name" type="text">
                <label for="person-2-name">Name</label>
              </div>
              <div class="pure-u-1-1">
                <input class="pure-u-24-24" name="person-2-relationship" type="text">
                <label for="person-2-relationship">Relationship</label>
              </div>
              <div class="pure-u-1-1">
                <input class="pure-u-24-24" name="person-2-phone" type="text">
                <label for="person-2-phone">Phone Number</label>
              </div>
              <div class="pure-u-1-1">
                <input class="pure-u-24-24" name="person-2-email" type="text">
                <label for="person-2-email">Email</label>
              </div>
            </div>

          </fieldset>

          <h2>Criminal History</h2>
          <label for="criminal-history" class="pure-checkbox">
            <input id="criminal-history" type="checkbox"> I authorize the Minnesota (or state of my
            residence)
            Bureau of Criminal Apprehension to disclose all criminal history record information to Reiser
            Relief,
            Inc for the purpose of volunteering with this agency. The expiration of this authorization shall
            be
            one
            year from the date of my consent.
          </label>

          <h2>Agreement / Waiver and Release of Liability</h2>

          <p>
            A. As a condition of being permitted to travel with Reiser Relief on, and participate in, a
            mission
            trip
            to Haiti, the undersigned hereby:
          </p>
          <ul>
            <li>
              Agrees to assume all normal and foreseeable risks associated with travel to, from and within
              the
              Country (including but not limited to natural disasters, terrorism, political unrest, and
              contraction of illness) and releases Reiser Relief from any responsibility of such risks;
            </li>
            <li>
              Acknowledges that the carriers, hotels and other suppliers (the “suppliers”) providing
              services
              in
              connection with the missions trip are independent contractors and are not agents, employees
              or
              representatives of, or joint ventures with, Reiser Relief or its affiliates and releases
              Reiser
              Relief from any responsibility for the actions or omissions of such suppliers;
            </li>
            <li>
              Agrees that Reiser Relief shall have no liability for any personal injury, property damage
              or
              other
              loss, accident, delay, inconvenience, or irregularity which may be caused by (a) any
              wrongful,
              negligent or unauthorized acts or omissions on the part of any of the suppliers or their
              agents,
              (b)
              any defect in or failure of any vehicle, equipment or instrument owned, operated or
              otherwise
              used
              by any supplier, or (c) any wrongful or negligent acts or omissions on the part of any other
              party
              not under the control of Reiser Relief;
            </li>
            <li>
              Releases Reiser Relief, its officers, directors, employees, agents or representatives from
              any
              claims whatsoever relating to the mission trip to Haiti;
            </li>
            <li>
              Agrees not to sue or otherwise hold Reiser Relief responsible for any injury, damage, or
              loss
              resulting to the undersigned or the undersigned's property in connection with the
              undersigned's
              participation in the missions trip to the Country;
            </li>
            <li>
              Accepts full responsibility for luggage and other belongings brought on the missions trip by
              the
              undersigned;
            </li>
            <li>
              Agrees to submit any dispute, claim or cause of action arising out of the undersigned's
              participation in the mission trip to Haiti solely to a Christian arbitration panel, agreeing
              that
              lawsuits among and between Christians is prohibited by Scriptures; and
            </li>
            <li>
              Agrees to be responsible for any injuries, damages or losses caused by the undersigned while
              the
              undersigned is traveling with representatives of Reiser Relief or while the undersigned is
              in
              the
              Country.
            </li>
          </ul>
          <p>
            B. The undersigned acknowledges that Reiser Relief has recommended that the undersigned purchase
            trip,
            health, accident and baggage insurance in connection with the missions trip, and that the
            undersigned
            obtain a physical examination and proper inoculations prior to going on the mission trip.
          </p>
          <p>
            C. The undersigned acknowledges that he/she has been informed that United States citizens
            traveling
            outside of the United States are required to carry documentation of United States citizenship,
            which
            may
            include a valid passport or notarized copy of the citizen's birth certificate with a raised
            seal,
            and a
            valid picture I.D. (such as a driver's license).
          </p>
          <p>
            If you have any questions or cannot comply with any of the Expectations or Release, please
            explain
            or
            contact us. We are excited at the possibility of having you with us!
          </p>
          <p>
            I plan to participate in a short-term mission trip to Haiti and the planned activities and
            understand
            the actual itinerary and the actual activities that I participate in during the short-term
            mission
            trip
            may vary. I recognize the participation in the short-term mission trip and its activities may be
            hazardous and dangerous, and I willingly assume all risks associated with the short-term mission
            trip.

            I acknowledge that I have been advised to seek my medical professional to understand the
            potential
            for
            contracting disease or parasites or suffering other adverse health consequences during my
            participation
            the short-term mission trip. I understand that such diseases, parasites or health conditions may
            cause
            or result in serious health problems and may be fatal. I also realize that I will be serving in
            a
            country less developed than the United States, one that may report cases of diseases more
            frequently
            than in the United States such as malaria, yellow fever, typhoid, Hepatitis A, Hepatitis B
            and/or
            other
            diseases or illnesses.

            I am aware that Reiser Relief, strongly advises me to obtain Tetanus Vaccinations and any other
            vaccinations, inoculations, or immunizations recommended by the Center for Disease Control or
            federal or
            Minnesota state health authorities. After careful consideration of these risks, I have either
            received
            all recommended vaccinations, inoculations, or immunizations from medical professionals or I
            have
            declined to receive them due to my religious beliefs, personal convictions, or medical
            contradictions. I
            agree that my decision to decline receipt of any or all of the recommended precautionary
            measures
            increases my risk of contracting disease.

            Therefore, in consideration of the privilege to participate extended to me by Reiser Relief, and
            on
            behalf of myself, executors, administrators, successors and assigns, I do hereby waive, release
            and
            forever discharge Reiser Relief, employees, directors, officers, agents, representatives, and
            volunteers, from any and all actions, omissions, causes, claims and/or damages arising from ,
            relating
            to, or resulting from my participation in the mission trip, including but not limited to,
            injury,
            expense, cost, damage, loss, illness, or death. I acknowledge that I have received good and
            valuable
            consideration for signing this waiver and release. I expressly agree that this release and
            waiver is
            intended to be as broad and inclusive as permitted by the laws of the state of Minnesota and
            that I
            intend this waiver to be binding on my family, estate, heirs, successors, assigns, insurers,
            medical
            providers and personal representatives. If any of this waiver and release is held invalid, it is
            agreed
            that the balance shall continue in legal force and effect.
          </p>

          <label for="waiver-acceptance" class="pure-checkbox">
            <input id="waiver-acceptance" type="checkbox"> I have read, understood, and executed this waiver
            and
            release.
          </label>

          <div id="submit-hold">
            <button type="submit" class="pure-button" disabled>Submit Application</button>
          </div>
          <p id="error-message">
                        <span>
                            Please select the check box in 'Criminal History' and 'Agreement / Waiver and Release of Liability'.
                        </span>
          </p>

        </form>
      </div>
    </div>
  </div>
</section>
