<app-spinner *ngIf="loading"></app-spinner>

<div [ngClass]="{'hide': loading}" id="modify-trip-view-container">
    <h2>Update Trip</h2>

    <h3>Trip Leader</h3>
    <input [(ngModel)]="tripLeader" type="text" placeholder="Trip Leader">

    <h3>Trip Date</h3>
    <input #dateInput [(ngModel)]="tripDate" type="text">

    <h3>Trip Status</h3>
    <div id="trip-status-contents">
        <p>{{tripStatus}}</p>
        <button class="pure-button" (click)="changeTripStatusClick()">Mark as {{oppositeTripStatus}}</button>
    </div>

    <button id="submit-trip-date-button" class="pure-button" (click)="updateClick()" [disabled]="updateDisabled">
        Save Changes
    </button>
    <button id="cancel-button" class="pure-button" (click)="closeClick()">Cancel</button>

</div>
