.hide {
  display: none;
}

#modify-trip-view-container {
  width: 100%;
  max-width: 32em;
  margin: 0 auto;

  input {
    width: 100%;
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    margin-bottom: 2em;
  }

  #trip-status-contents {
    p, button {
      display: inline-block;
    }
  }

  #submit-trip-date-button, #cancel-button {
    margin-top: 2em;
  }

  #cancel-button {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #ca3d3c;
  }
}
