<div fxLayout="row" fxLayout.md="column">
  <div fxFlex>
    <form [formGroup]="newsForm">
      <mat-form-field>
        <input
          matInput
          [formControlName]="newsFormFields.title"
          placeholder="Input"
        />
      </mat-form-field>

      <mat-form-field>
        <textarea
          matInput
          [formControlName]="newsFormFields.content"
          placeholder="Textarea"
        ></textarea>
        <quill-editor></quill-editor>
      </mat-form-field>
    </form>
  </div>

  <div fxFlex>
    <h2>Preview</h2>
    <div [innerHTML]="previewContent"></div>
  </div>
</div>

<button mat-button-raised (click)="updateClick()">Update</button>
