body {
  background: #24333c;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.mini-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 25px;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}
