body {
  font-family: 'Open Sans', sans-serif;
}

.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  margin-top: 15px;
  text-align: right;

  h1 {
    text-align: center;
  }
}

.mini-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 25px;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}
