@import "globals";

body {
  font-family: 'Open Sans', sans-serif;
}

p, h1, h2, h3, ul, li, input, div, .container {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, li, tr, input, textarea {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-weight: normal;
}

//.pure-g > div {
//  -webkit-box-sizing: border-box;
//  -moz-box-sizing: border-box;
//  box-sizing: border-box;
//}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  margin-top: 15px;
  text-align: right;

  h1 {
    text-align: center;
  }
}

.mini-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 25px;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

.padding-left {
  padding-left: 15px;
}

.padding-hold {
  padding: 0 15px;
}

form {
  $input-height: 55px;
  $vertical-spacing: 30px;
  margin-top: $vertical-spacing;
  color: $black-theme-color;

  .input-container {
    height: $input-height + $vertical-spacing;
  }

  input {
    height: $input-height;
    background: none;
    border: 1px solid $light-gray-theme-color;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: $vertical-spacing;
    color: $black-theme-color;
    margin: 0 !important;

    &::placeholder {
      color: $light-gray-theme-color;
    }

    &:focus {
      border-color: $black-theme-color !important;

      &:invalid {
        color: $black-theme-color !important;
      }
    }

    &[type=checkbox] {
      $width-and-height: 25px;
      height: $width-and-height;
      width: $width-and-height;
    }

  }

  textarea {
    resize: vertical;
    height: 215px;

    &::placeholder {
      color: $light-gray-theme-color;
    }

    &:focus {
      border-color: $black-theme-color !important;

      &:invalid {
        color: $black-theme-color !important;
      }
    }

  }

  .pure-form-message {
    color: $error-theme-color;
    padding: 0;
    height: $vertical-spacing;

    &#invalid-credentials {
      text-align: center;
    }
  }
}
