@import "../../../globals";

.single-tab {
  $tab-height: 50px;
  height: $tab-height;
  background: $tab-background-color;
  cursor: pointer;

  &:hover {
    background: $tab-hover-color;
  }

  p {
    line-height: $tab-height;
    text-align: center;
    color: $dark-theme-color;
  }
}

.active-underline {
  $underline-height: 3px;
  visibility: hidden;
  height: $underline-height;
  width: 100%;
  background: $light-theme-color;
  margin-top: -$underline-height;

  &.active {
    visibility: visible;
  }
}
