@import 'src/app/shared/globals';

mat-drawer-container {
  height: calc(100% - #{$header-height});
}

.card-container {
  margin-bottom: 2em;
}

mat-card {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 90%;

  @media only screen and (min-width: 960px) {
    margin: 0 auto;
    height: 100%;
  }
}
