@import "../../../../globals";

.table-header {
  $height: 40px;
  height: $height;
  background: #e0e0e0;
  margin-top: 15px;

  p {
    border-right: 1px solid $separator-color;
    line-height: $height;
    text-align: center;
    font-weight: bold;
  }
}
