table {
  max-width: 100%;
  margin-bottom: 2em;

  .trip-date-row {
    vertical-align: top;
    height: 5em;

    .trip-date-date, .edit-action, .mark-action, .trash-action {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: #0073aa;
      }
    }

    .trash-action {
      &:hover {
        color: #ca3d3c;
      }
    }
  }
}
